<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="serveur web du projet 'Paysage de Propagation'">
    <meta name="author" content="reso-nance.org">
<!-- TODO 
    <link rel="icon" href="../static/favicon.png">
-->
    <!-- Bootstrap CSS -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/custom.css">
    
    <title>Paysage de propagation</title>
    
  </head>
  <body>
  <div class="row">
    <!-- ////////////////////////////// LEFT PART ////////////////////////////////////////////////////////////////////// -->
    <div class="col menuLeft">
      <div class="logo"></div>
      <h1>Modules de propagation</h1>
      <div class="btn gestionFiles">
        <button class="btn btn_power"></button>
        <button class="btn btn_refresh"></button>
        <form  class="btn_gestionfiles"  method=POST enctype=multipart/form-data action="/uploadMidi">
          <label class="btn btn_midifile desactivated statelist upload">
              <input type="file"  name="midifile" style="display:none;" accept=".mid">
              <img src="static/imgs/btn_midifile.png" width=44 height=44>
          </label>
        </form>
        <form  class="btn_gestionfiles"  method=POST enctype=multipart/form-data action="/uploadAudio">
          <label class="btn btn_wavefile desactivated statelist upload">
              <input type="file"  name="audiofile" style="display:none;" accept=".wav">
              <img src="static/imgs/btn_wavefile.png" width=44 height=44>
          </label>
        </form>
        <button class="btn btn_playmidi"></button>
      </div>
      <div class="bloc-lists">
        
        <ol class="list-group cachelist" id="devices-list" >
        <!-- devices will be inserted here -->
        </ol>
        <ol class="midiFiles list cachelist" id="midiFileList">
          <!-- midi files will be displayed here -->
        </ol>
        <!-- - btn a virer -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wavDispatch">Open modal</button>
      </div>
    </div><!-- end leftpart -->

    <!-- ////////////////////////////// RIGHT PART ///////////////////////////////////////////////////////////////////// -->
    <div class="col ContentRight">
        <div class="content"></div>
    </div><!-- end rightpart -->
    <!-- The Modal -->
    <div class="modal" id="wavDispatch">
      <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title">Transfert de : <span id='wavDispatchName'>Fusce.wav</span></h1>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="listemodal">
            <ul id="wavDispatchList">  
            </ul>
          </div>
         </div> 
        </div>
      </div> 
      

        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" id="modalSend">Transferer</button> -->
          <button type="button" class="btn btn-danger pull-right" id="modalSend">Transferer</button>
        </div>

        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type= "text/javascript" src="static/js/index.js"></script>


  </body>
</html>