<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="serveur web du projet 'Paysage de Propagation'">
    <meta name="author" content="reso-nance.org">
<!-- TODO 
    <link rel="icon" href="../static/favicon.png">
-->
    <!-- Bootstrap CSS -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/custom.css">
    
    <title>Paysage de propagation</title>
    
  </head>
  <body>
  <div class="col-gauche">
    <div class="p-2 menu" style="flex-grow: 2"><!-- start menu gauche -->
    <div class="head">
      <button class="btn btn_power"></button>
      <button class="btn btn_refresh"></button>
    </div>
      <div class="bloc-lists">
        <ul class="list-group cachelist" id="devices-list" >
         <!-- devices will be inserted here -->
        </ul>

        <ul class="list-group statuslist" id="status-list">
           <!-- statuses will be inserted here -->
        </ul>
        
      </div> 
    </div><!-- end menu gauche -->
    <!-- start page droite-->
    <div class="content">
      <!-- ELEMNTS MODULE----------------------------------------------------------------------------------------------------------------->
     
      <!-- ELEMNTS END MODULE---------------------------------------------------------------------------------------------->
      <!-- end page droite -->
  </div>

    <script type= "text/javascript" src="static/js/index.js"></script>


  </body>
</html>
